<footer class="bg-dark py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col text-center text-white">

                <p class="lead ml-4">&copy; Barnabas
                    <span class="ml-4"><a href="http://www.facebook.com"><i class="fab fa-facebook"></i></a>
                        <i class="fab fa-twitter ml-4"><a href="http://www.facebook.com"></a></i>
                        <i class="fab fa-instagram ml-4"><a href="http://www.facebook.com"></a></i>
                        <i class="fab fa-youtube ml-4"><a href="http://www.facebook.com"></a></i>
                        <i class="fab fa-github ml-4"><a href="http://www.facebook.com"></a></i></span>
                </p>
            </div>
        </div>
    </div>
</footer>
