<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark py-3 lead">
        <div class="container">
            <a href="/" class="navbar-brand py-4"><img src="images/logo_white.png" alt=""></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                
                <div class="ml-auto">
                    <div class="nav-item" data-toggle="modal" data-target="#LoginModal">
                        <div class="btn btn-outline-primary mr-4">Login</div>
                    </div>
                </div>
                
                
                <!-- register modal -->
                <div class="nav-item" data-toggle="modal" data-target="#RegistrationModal">
                    
                    <div class="btn btn-outline-primary">Register</div>
                </div>
                
                <div class="modal" id="RegistrationModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="modal-title "><h3 class="text-center">Register</h3></div>
                                <button class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form action="/register" method="post">
                                    <input type="text" class="form-group form-control mb-3 " placeholder="Name" name="name" required>
                                    <input type="text" class="form-group form-control mb-3" placeholder="Email" name="email" required>
                                    <input type="password" class="form-group form-control mb-3" placeholder="Password" name="password" required>
                                    <button type="submit" class="btn btn-block btn-outline-danger mb-4">Register</button>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>

                <!-- another modal -->
                <div class="modal" id="LoginModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="close" data-dismiss="modal">&times;</div>
                            </div>
                            <div class="modal-body">
                                <div class="modal-title"><h3 class="text-center">Login</h3></div>
                                <form action="/login" method="post">
                                    <input type="text" class="form-group form-control mb-3" placeholder="Email" name="email" required>
                                    <input type="password" class="form-group form-control mb-3" placeholder="Password" name="password" required>
                                    <button type="submit" class="btn btn-block btn-outline-danger mb-4">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </nav>


</header>