<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark py-4 lead">
        <div class="container">
            <a href="/" class="navbar-brand py-4"><img src="images/logo.png" alt=""></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ">
                    <li class="nav-item active" id="my">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="/services" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="/blog" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item mr-16">
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                </ul>
                <div class="ml-auto">
                    <div class="nav-item btn btn-outline-light " data-toggle="tooltip" data-placement="left" title="Login">
                   <a href="/login" class="nav-link "><i class="fas fa-user"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>


</header>