<%- include('partials/navbar') %>
<div class="display-1 bg-danger text-white text-center mb-4">About Us</div>
<div class="container">
    <div class="jumbtron bg-light text-center">
        <div class="display-3 ">Who are we</div>
    <h1>
        <p>
            We are a team of coorperate Fashion Designers with the mind of 
            helping others become what they have dreamed. teaching them the full tools 
            that breaks every barers to dream fulfillment at a low cost. 
            improving lives at the maximum level.
        </p>
    </h1>
    </div>
</div>
<%- include('partials/footer') %>

