<div class="display-1 bg-danger text-white text-center mb-4">Our blogs</div>
<div class="container">

<div class="media mb-3">
    <img src="http://source.unsplash.com/random/90x91" class="mr-3">
    <div class="media-body">
        <h5>The Official talks on new inventions</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Voluptate sint odio dolorum autem, blanditiis tenetur quis, porro impedit incidunt officiis minima ipsum voluptatem
             inventore! Debitis reiciendis ratione id illum fugit.</p>
    </div>
</div>
<div class="media mb-3">
    <img src="http://source.unsplash.com/random/90x92" class="mr-3">
    <div class="media-body">
        <h5>Awesome designs</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptate sint odio dolorum autem, blanditiis tenetur quis, porro impedit incidunt officiis minima ipsum
            voluptatem
            inventore! Debitis reiciendis ratione id illum fugit.</p>
    </div>
</div>
<div class="media mb-3">
    <img src="http://source.unsplash.com/random/90x93"  class="mr-3">
    <div class="media-body">
        <h5>The Science behind classic designs</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptate sint odio dolorum autem, blanditiis tenetur quis, porro impedit incidunt officiis minima ipsum
            voluptatem
            inventore! Debitis reiciendis ratione id illum fugit.</p>
    </div>
</div>
<div class="media mb-3">
    <img src="http://source.unsplash.com/random/90x94"  class="mr-3">
    <div class="media-body">
        <h5>What's new in the Fashion world</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptate sint odio dolorum autem, blanditiis tenetur quis, porro impedit incidunt officiis minima ipsum
            voluptatem
            inventore! Debitis reiciendis ratione id illum fugit.</p>
    </div>
</div>
</div>
