        <div class="display-1 text-center py-6 mb-4 bg-light">Contact Us</div>
  <section class=" mx-auto bg-light row">
                <form action="" class="col-lg-6 col-md-6 col-sm-12 py-5">
                    <div class="lead text-center text-white bg-dark mb-4">
                        Get In Touch
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="full name">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        <input type="email" class="form-control" placeholder="email">
                    </div>
            
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-phone-alt"></i>
                            </span>
                        </div>
                        <input type="number" class="form-control" placeholder="phone number">
                    </div>
                    <div class="input-group input-group-lg mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </div>
                        <textarea rows="5" class="form-control" placeholder="your message"></textarea>
                    </div>
                    <input type="submit" class="btn btn-block btn-danger" value="Send message" >
                </form>

                  
    <div class="col">
    
        <div class="col-lg-8 col-md-9 col-sm-12" id="call-div">

            <div class=" col-md-4" id="location-text">
                    {{!-- <i class="fas fa-map-marker-alt"></i> --}}
              
                <p>
                    Sinkor Fish-market monrovia Liberia
                </p>


                <div class=" col-md-12   py-4">
                        {{!-- <i class="fas fa-phone-alt"></i> --}}

                    <p>
                        +231-881-826-972
                    </p>
                </div>

                <div class="col-md-4 py-2">
                    <span id="msg_ico">
                        {{!-- <i class="fas fa-envelope"></i> --}}
                    </span>
                    <div class="">suportus@menwork.co</div>
                </div>

            </div>
        </div>        
    </div>         
                
 </section>



 











