
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Barnabas</title>
        <link rel="stylesheet" href="/bootstrapVendors/bootstrap.min.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css
        ">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <script src="vendors/js/bootstrap.min.js"></script>
    </head>

    <%- include('partials/navbar') %>

    <body>
            <header id="hero" class="col col-sm-12 col-md-12">
                <div class=" text-white btn btn-primary float-center">Design your own style</div>
            </header>
        

    <main class="bg-light">
        <section class="bg-dark py-5 text-white">
            <h4 class="display-4 text-center">Sign Up for our newsletter</h4>
            <div class="container">
                <div class="row py-5">
                    <div class="col-md-4">

                        <input type="text" id="name" class="form-control mb-2" placeholder="Name" name="user_name">
                    </div>
                    <div class="col-md-4">
                        <input type="email" id="email" class="form-control mb-2" placeholder="Email" name="user_email">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-block btn-danger" type="submit">Subscribe</button>
                    </div>
                </div>
            </div>

        </section>

        <div class="container">
            <div class="jumbotron text-center mt-3">
                <h1>See our Stories</h1>
                <p>Collection of best designs from your favorite Designers.</p>
            </div>

            <div class="rows">
                <div class="row  g-4">
                    <div class=" col-md-4 col-lg-4">
                        <div class="card mb-3">
                            <img src="images/fashion-store.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center">CLASSIC FASHION STORE</h5>
                                <p class="card-text"> Buy quality fiber for your dream design</p>
                                <button class="btn btn-block btn-danger">Explore More</button>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4 col-lg-4 ">
                        <div class="card mb-4">
                            <img src="images/couples.jpg" >
                            <div class="card-img-overlay ">
                                <h5 class="card-title text-white">COUPLES DESIGN</h5>

                            </div>
                        </div>
                    </div>
                    <div class="  col-md-4 col-lg-4">

                        <div class="card ">
                            <img src="images/african_style.jpg" class="card-img-top img-fluid" id="card_img">
                            <div class="card-img-overlay">
                                <h5 class="card-title text-white">SINGLES DESIGN</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <section  class="bg-dark py-5 text-dark mb-2 col col-sm-12 col-md-12 col-lg-12" id="about_us" >
            <div class="card card-body col-sm-5 float-right">

                <div class=" display-4 text-center card-title" id="about-tit">ABOUT US</div>
            
                <div class=" align-right">
                    <p class="text-right" id="about-text">
                        We are a team of coorperate Fashion Designers with the mind of
                        helping others become what they have dreamed. teaching them the full tools
                        that breaks every barers to dream fulfillment at a low cost.
                        improving lives at the maximum level.
                    </p>
            </div>
        
            </div>
        
        </section>

        <section>
            <div class="card card-body">
                <h1 class="card-title lead display-4 text-center " id="service-title">Our Services</h1>
            
            </div>
            <div class="container">
                <div class="rows">
                    <div class="row g-6 ">
                        <div class="col-sm-12 col-md-7 col-lg-5 ">
                            <div class="card mb-4">
                                <img src="/images/fashion_training.jpg" class="img-fluid card-img-top">                            <div class="card-body">
                                    <h3 class="card-title text-center">Fashion & Design Training</h3>
                                    <h5>Learn the best way to pattern making
                                        Know the in and out to best and beautiful
                                        pattern design.
                                    </h5>
                                    <p class="btn btn-dark">Read More</p>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-sm-12 col-md-7 col-lg-6 ">
                            <div class="card">
                                <img src="/images/beauty-makeup.jpg" class="card-img-fluid card-img-top">
                                <div class="card-body">
                                    <h3 class="card-title text-center">Jewels & MakeUp </h3>
                                    <h5>We design with beauty that attracts you to honorable people and set on the path of your
                                        dream</h5>
                                    <p class="btn btn-dark">Read More</p>
                                    <small class="muted">6 mins ago</small>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="card">
                                <img src="/images/Boutique.jpg" class="img-fluid card-img-top">
                                <div class="card-body">
                                    <h3 class="card-title text-center">Boutique Management</h3>
                                    <h5>Learn the tools and tips to make your product stand out from the crowd.
                                    </h5>
                                    <p class="btn btn-dark">Read More</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="card">
                                <img src="/images/ladies-milan.jpg" class="img-fluid card-img-top">
                                <div class="card-body">
                                    <h3 class="card-title text-center">Malin</h3>
                                    <h5>We offer best practices to beat any competition.
                                        We help you grow your Milan muscles and flexibility.
                                    </h5>
                                    <p class="btn btn-dark">Read More</p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

        </section>
    
    </main>



        <script src="App.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
        <script>
            $('[data-toggle="tooltip"]').tooltip()
            </script>
    </body>
    <%-include('partials/footer.ejs') %>
    </html>