<section id="photo_section" class="card card-fluid  " >
              <img src="images/hero.jpg" id="hero" class="  col-lg-12 col-md-12 mx-auto"  >
              {{!-- <div class="primary-overlay text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-lg-6">
                            <h1 class="text-center">we are here for better development</h1>
                        </div>
                        <div class="col-md-4 col-lg-6"></div>
                    </div>
                </div>
              </div> --}}

</section>

<main class="bg-light">
    <section class="bg-dark py-5 text-white">
        <h4 class="display-4 text-center">Sign Up for our newsletter</h4>
        <div class="container">
            <div class="row py-5">
                <div class="col-md-4">

                    <input type="text" id="name" class="form-control mb-2" placeholder="Name" name="user_name">
                </div>
                <div class="col-md-4">
                    <input type="email" id="email" class="form-control mb-2" placeholder="Email" name="user_email">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-block btn-danger" type="submit">Subscribe</button>
                </div>
            </div>
        </div>

    </section>

    <div class="container">
        <div class="jumbotron text-center mt-3">
            <h1>See our Stories</h1>
            <p>Tell me your Project and I will script the code...</p>
        </div>
        
        <div class="rows">
            <div class="row  g-4">
                <div class=" col-md-4 col-lg-4">
                    <div class="card mb-3">
                        <img src="images/fashion-store.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">Classic fashion store</h5>
                            <p class="card-text"> Living as couples is a life devoted to praying and understanding each
                                other decisions</p>
                            <button class="btn btn-block btn-danger">We will love to hear</button>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 col-lg-4 ">
                    <div class="card mb-4">
                        <img src="images/couple_prayin copy.jpg" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">The couple's share</h5>
                            <p class="card-text py-2 mb-4">The fun you share as couple brings out the true togetherness.
                            </p>
                            <button class="btn btn-danger btn-block">We stand right here</button>
                        </div>
                    </div>
                </div>
                <div class="  col-md-4 col-lg-4">

                    <div class="card ">
                        <img src="images/hero.jpg" class="card-img-top img-fluid" id="card_img">
                        <div class="card-body">
                            <h5 class="card-title" id="username">the benefit of the ages</h5>
                            <p class="card-text" id="useremail">Don't joke with experience full-stack developer</p>
                            <div class="d-grid">
                                <button href="" class="btn btn-danger btn-block " id="random_btn">Next Person</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="bg-light">
            <h1 class="text-center lead" style="font-size: 59px; text-transform: uppercase;">our work</h1>
            <div class="row">
                <div class="col">
                    <div class="card card-body">
                        <h2 class="text-center">Robe</h2>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-body">
                        <h2 class="text-center">Robe</h2>
                    </div>
                </div>
            </div>



        </section>
</main>