<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barnabas</title>
    <link rel="stylesheet" href="/bootstrapVendors/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css
    ">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="vendors/js/bootstrap.min.js"></script>
</head>
<div class="container">
<div class="card card-body col-md-10 col-lg-7 mx-auto">
<form action="/login" method="post">


<div class="display-4 text-center text-white bg-danger py-2" >Log In</div>
    <input type="text" class="form-group form-control mb-3 mt-5" placeholder="Name" name="name" required>
    <input type="text" class="form-group form-control mb-3" placeholder="Email" name="email" required>
    <button type="submit" class="btn btn-block btn-outline-danger mb-4" >Log in</button>
   <div class="text-center mb-6">Not a member yet?  <a href="/sign_up">Sign Up</a> </div>


</form>
</div>
</div>

