
<div class="container">
<div class="card card-body col-md-10 col-lg-7 mx-auto">
<form action="/login" method="post">


<div class="display-4 text-center text-white bg-danger py-2" >Log In</div>
    <input type="text" class="form-group form-control mb-3 mt-5" placeholder="Name" name="name" required>
    <input type="text" class="form-group form-control mb-3" placeholder="Email" name="email" required>
    <button type="submit" class="btn btn-block btn-outline-danger mb-4" >Log in</button>
   <div class="text-center mb-6">Not a member yet?  <a href="/sign_up">Sign Up</a> </div>


</form>
</div>
</div>

