<div class="jumbtron mb-4 bg-danger fluid">
    <h1 class="display-2 text-center text-white">Our Services</h1>

</div>
<div class="container">
    <div class="rows">
<div class="row g-4">
<div class="col-sm-6 col-md-4 col-lg-5">
    <div class="card">
        <img src="https://source.unsplash.com/random/301x200" alt="" class="img-fluid card-img-top">
    <div class="card-body">
        <h3 class="card-title text-center">Fashion & Design Training</h3>
        <h5>Learn the best way to pattern making
            Know the in and out to best and beautiful
             pattern design.
        </h5>
        <p class="btn btn-dark">Read More</p>
    </div>
    </div>
</div>

<div class="col-sm-6 col-md-4 col-lg-5">
    <div class="card">
        <img src="https://source.unsplash.com/random/302x200" alt="" class="img-fluid card-img-top">
    <div class="card-body">
        <h3 class="card-title text-center">Jewels & MakeUp </h3>
        <h5>We design with beauty that attracts you to honorable people and set on the path of your dream</h5>
        <p class="btn btn-dark">Read More</p>
        <small class="muted">6 mins ago</small>
    </div>
    </div>
</div>

<div class="col-sm-6 col-md-4 col-lg-5">
    <div class="card">
<img src="https://source.unsplash.com/random/303x200" alt="" class="img-fluid card-img-top">
    <div class="card-body">
        <h3 class="card-title text-center">Modeling</h3>
        <h5>We offer best practices to beat any competition.
            We help you grow your Modeling muscles and flexibility.
        </h5>
        <p class="btn btn-dark">Read More</p>
    </div>
    </div>
</div>
</div>
</div>
</div>

<div class="jumbotron bg-dark mt-4 ">
    <div class="card">
        <div class="card-body">
            <input type="text" class="form-control" placeholder="Name">
            <input type="email" class="form-control" placeholder="Email">
            <input type="number" class="form-control" placeholder="phone number">
            
        </div>
    </div>
</div>