<div class="container">

    <div class="card card-body col-md-10 col-lg-7 mx-auto  ">
        <form action="/login" method="post">
        
            <div class="display-4 text-center text-white bg-danger py-2">Sign up</div>
            <div class="align-center">
                <i class="fa fas-pencil"></i>
            </div>
            <input ype="text" class="form-group form-control mb-3" placeholder="Name"  required>
            <input type="text" class="form-group form-control mb-3" placeholder="Email"  required>
            <input type="password" class="form-group form-control mb-3" placeholder="password"  required>
            <input type="password" class="form-group form-control mb-3" placeholder="confirm password"   required>
            <button type="submit" class="btn btn-block btn-outline-danger mb-4">Sign up</button>
            

        </form>
    </div>
</div>