<div class="container">
    {{#each erros}}
    <div class="alert alert-danger">{{text}}</div>
    {{/each}}
    <div class="card card-body col-md-10 col-lg-7 mx-auto  ">
        <form action="/login" method="post">
        
            <div class="display-4 text-center text-white bg-danger py-2">Sign up</div>
            <div class="align-center">
                <i class="fa fas-pencil"></i>
            </div>
            <input ype="text" class="form-group form-control mb-3" placeholder="Name" name="name" value="{{name}}" required>
            <input type="text" class="form-group form-control mb-3" placeholder="Email" name="email" value="{{email}}" required>
            <input type="password" class="form-group form-control mb-3" placeholder="password" name="password1" value="{{pass1}}" required>
            <input type="password" class="form-group form-control mb-3" placeholder="confirm password" name="password2" value="{{pass2}}" required>
            <button type="submit" class="btn btn-block btn-outline-danger mb-4">Sign up</button>
            

        </form>
    </div>
</div>