#hero {
  background-image: url("/images/fashion_background.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh; }



#about-tit {
  color: #fc0679; 
  margin-top: 7rem;
  margin-bottom: 3rem;
}



.card {
  border: none;
 }

#service-title {
  color: #fc0679;
  margin-top: 10rem;
  margin-bottom: 5rem; }

#malin-img {
  width: 100px; }

#call-ico {
  font-size: 30px;
  color: #fc0679; }

.hero-text {
  display: inline-block;
  color: #f4f0f0;
  padding: 10px 40px;
  font-size: 30px;
  font-family: 'Lucida Sans';
  padding: 14px 20px;
  background-color: rgba(0, 0, 0, 0.781);
  text-transform: uppercase; 

}



#contact-text {
  color: #fc0679;
  margin-bottom: 70px;
  margin-top: 40px; }

.nav-link {
  color: white; }

#nav-user {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.878); 
}



#italic{
  margin-bottom: 2rem;
}

#ab-row{
  margin-top: 8rem;
}

#Contact-us-sect{
  background-position: center;
  background-size: cover;
}